{% load i18n %}
{% load static %}
<div class="lb-row {% if jogador.user == request.user %}is-me{% endif %}">
    <div class="lb-rank">#{{ forloop.counter }}</div>
    
    <div class="lb-av">
        {% if jogador.avatar %}
            <img src="{{ jogador.avatar.url }}">
        {% elif jogador.user.socialaccount_set.all and jogador.avatar_padrao == 'avatar.png' %}
            <img src="{{ jogador.user.socialaccount_set.all.0.get_avatar_url }}" referrerpolicy="no-referrer">
        {% else %}
            <img src="{% static 'users/images/' %}{{ jogador.avatar_padrao|default:'avatar.png' }}">
        {% endif %}
    </div>

    <div class="lb-uname">
        <a href="{% url 'perfil_publico' jogador.user.username %}" class="lb-link-perfil">
            {{ jogador.user.username }}
            {% if not jogador.perfil_publico %}
                <span class="icon-privado" title="{% trans 'Perfil Privado' %}">
                    <img src="{% static 'users/images/cadeado.png' %}" alt="{% trans 'Privado' %}" style="width: 14px; height: 14px; vertical-align: middle; margin-bottom: 2px;">
                </span>
            {% endif %}
        </a>
        {% if jogador.user == request.user %}<span class="lb-you-badge">{% trans "Tu" %}</span>{% endif %}
    </div>
    <div class="lb-level">{% trans "Nível" %} 
        {% if tipo == "geral" %}{{ jogador.nivel_geral }}{% elif tipo == "quiz" %}{{ jogador.nivel_quiz }}{% elif tipo == "simulador" %}{{ jogador.nivel_simulador }}{% endif %}
    </div>
    <div class="lb-pts">
        {% if tipo == "geral" %}{{ jogador.xp_geral }}{% elif tipo == "quiz" %}{{ jogador.pontuacao_total_quiz }}{% elif tipo == "simulador" %}{{ jogador.pontuacao_total_simulador }}{% endif %}
        <span>pts</span>
    </div>
</div>