{% load i18n %}
<div class="lb-row {% if jogador.user == request.user %}is-me{% endif %}">
    <div class="lb-rank">#{{ forloop.counter }}</div>
    <div class="lb-av">
        {% if jogador.avatar %}<img src="{{ jogador.avatar.url }}">{% else %}{{ jogador.user.username|slice:":2"|upper }}{% endif %}
    </div>
    <div class="lb-uname">
        {{ jogador.user.username }}
        {% if jogador.user == request.user %}<span class="lb-you-badge">{% trans "Tu" %}</span>{% endif %}
    </div>
    <div class="lb-level">{% trans "Nível" %} 
        {% if tipo == "geral" %}{{ jogador.nivel_geral }}{% elif tipo == "quiz" %}{{ jogador.nivel_quiz }}{% elif tipo == "simulador" %}{{ jogador.nivel_simulador }}{% endif %}
    </div>
    <div class="lb-pts">
        {% if tipo == "geral" %}{{ jogador.xp_geral }}{% elif tipo == "quiz" %}{{ jogador.pontuacao_total_quiz }}{% elif tipo == "simulador" %}{{ jogador.pontuacao_total_simulador }}{% endif %}
        <span>pts</span>
    </div>
</div>